# Logs
*.env
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all PDFs and their related files
*.pdf
*.pdf.*


# stop it from leaking some textbooks :SOB:
!*-include.pdf
!*-include.pdf.*